body {
  padding-top: 5rem;
  background-image: url('../images//HotAirBalloon.jpg');
  background-size: 100% 12%;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container {
  padding-top: 110px;
  padding-left: 110px;
  padding-right: 0px;
  padding-bottom: 0px;
}

h1 {
  color: rgb(114, 21, 121);
}

h2 {
  color: rgb(100,100,160);
}

.picture {
  max-width: 10px;
  max-height: 5px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.BackgroundIm{
	padding-top: 5rem;
	background-image: url("../images/TextBackground.jpg");
	background-size: 100% 120%;
	min-height: 81vh;
}
