body {
  padding-top: 0rem;
	background-image: url("../images/TextBackground.jpg");
  background-size: cover;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.container {
  padding-top: 110px;
  padding-left: 110px;
  padding-right: 0px;
  padding-bottom: 0px;
}

h4 {
    color: rgb(100,100,160);
}

h1 {
  color: rgb(114, 21, 121);
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.BackgroundIm{

}
