body {
  padding-top: 0rem;
  text-align: center;
  background-image: url("../images/Suspension Bridge.jpg");
  background-size: cover;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.carousel-item{
	height: 400px;
}

.carousel-item img{
	height: 400px
}

.container {
	display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.myclass{
	padding-top: 2rem;
}

.AboutBody{
	padding-top: 0rem;
	background-image: url("../images/TextBackground.jpg");
	background-size: auto;
}
